
/* Establece el color de fondo para el cuerpo de la página */
body{
  background-color: #FFB17A;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;

}
body::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-thumb {
  background-color: #4F4789; /* Color del "pulgón" de la barra */
  border-radius: 6px; /* Bordes redondeados del "pulgón" */
}

body::-webkit-scrollbar-track {
  background-color: #FFB17A; /* Color del fondo de la barra de desplazamiento */
}

/* Estilo del borde de la barra de desplazamiento */
body::-webkit-scrollbar-track-piece {
  border: 2px solid #4F4789; /* Color y grosor del borde */
}
.header{
width: 100%;
height: 15%;
background-color: #FFC79F;
display: flex;
align-items: center;
justify-content: center;
}
/* Estilos para el menú superior */
.mainMenu-top{
  display: flex;
  background-color: #4F4789;
  width: 98vw;
  height:48vh;
  margin: auto auto;
  overflow: hidden;
  z-index: 2;
  position: relative;
  border: 1px;
  border-color: #363636;
  border-radius: 20px 20px 0px 0px;
  
}
/* Estilos para el menú inferior */
.mainMenu-bot{
  display: flex;
  background-color: #4F4789;
  width: 98vw;
  height: 48vh;
  margin: auto auto;
  overflow: hidden;
  z-index: 2;
  position: relative;
  border: 1px;
  border-color:#363636;
  border-radius: 0px 0px 20px 20px;
  
}
/* Estilos para el contenedor de la caja */
.menuContainer{
  position: relative;
  width: 98vw;
  height: 96vh;
  background: #363636;
  overflow: hidden;
  z-index: 0;
  padding: 0.2% 0.2% 0.2% 0.2%;
  border: 1px;
  border-color:#363636;
  border-radius: 20px;
  
  
}
/* Efecto de gradiente para la caja antes de */
.menuContainer::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 98%;
  height: 100%;
  background: linear-gradient(0deg,transparent, transparent, #51aafd,#51aafd,#51aafd);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  overflow: hidden;
}
/* Efecto de gradiente para la caja después de */
.menuContainer::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 98%;
  height: 100%;
  background: linear-gradient(0deg,transparent, transparent, #b42e97,#b42e97,#b42e97);
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  overflow: hidden;
  animation-delay: -8.7s;
}
/* Oculta las barras de desplazamiento de WebKit */
::-webkit-scrollbar {
  display: none;
}
/* Animación para rotar */
@keyframes animate{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
/* Estilo de interacción al pasar el cursor por el botón del menú */
.ButtonMenu:hover .butHover{
  fill: #A4D8FB;
}
/* Estilos para el contenido del ícono */
.iconContent{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  border: 1;
  border-color:#363636;
  border-radius: 20px;
}

.playContainer{
  background-image: url("imagesPng/backgroundElementImg.png"); /* Set the path to your image */
      background-size: contain;
      background-repeat: repeat;
      width: 100vw;
      height: 100vh;
}
.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;

}
.frontPageImg{
  width: 80%;
  height: 90%;
  

}
.menuFixedButtons{
  position: fixed;
  left: 0;
  top: 90%;
  transform: translateY(-40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
  
}
#fixedButton {
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0px;
 
  
}
#fixedButton > img{
  width: 100%;
  height: 100%;
}
.waves{
  width: 100%;
  height:25%;
  margin: 0px;
  padding: 0px;
}
.wavesImg{
  width: 100%;
  height:100%;
  margin: 0px;
  padding: 0px;
}
.formAnimal{
  width: 100vw;
  height: 100vh;
  background-color:#98d6ff;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.panel{
  width: 85%;
  height: 100vh;
  padding: 20px 10px;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 10px; 
  justify-content: center;
  background-color: #FFB17A;
  border-radius: 10% 10%;
  overflow:hidden;
}

.panel::-webkit-scrollbar {
  width: 12px;
}

.panel::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

.panel::-webkit-scrollbar-track {
  background-color: transparent;
}


.lilyImgContent{
 
  margin: 0px auto 0px auto;
  width: 50vw;
  height: 100vh;
  max-height: 65vh;
  

}
.lilyImg{
  width: 100%;
  height: 100%;
}
.infoLilyTitle{
  font: 2em sans-serif;
  color: white;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.infoLilyContent{
  font: 2em sans-serif;
  color: white;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.infoLilyContent > label{
  display: block;
  background-color: #98d6ff;
  padding: 15px;
  margin-top: auto;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  font-style: italic;
}
.lilySay{
  font: 2em sans-serif;
  margin: 20px;
  color: #FFB17A;
  width: 100%;
  height: auto;
  text-align: center;
  background-image: url("imagesPng/cloud.png");
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-content: center;
}
.lilySayContent{
  width: 70%;
  margin: 50px 0px 100px 0px;
  height: auto;
  
}
.accordion ul {
  list-style: none;
  padding: 0;
}

.accordion li {
  margin-bottom: 10px;
}

.accordion input[type="checkbox"] {
  display: none;
}

.accordion label {
  display: block;
  padding: 10px;
  background-color: #98d6ff;
  cursor: pointer;
  border-radius: 5px;
  font-style: italic;
}

.accordion .content {
  max-height: 0px;
  overflow: auto;
  transition: max-height 0.5s ease-out;
  margin: 5px 5px 5px 5px;
}

.accordion input[type="checkbox"]:checked + label + .content {
  max-height: none; /* Ajusta el valor según sea necesario */

}
.divFormBut{
  width: 100%;
  height: 10%;
  display: flex;
  margin-bottom: 20px;
}
.formBut{
  width: 50%;
  height: 80%;
  background-color: #51aafd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}
.formBut > div{
  width: 95%;
  height: 70%;
  background-color: #98d6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.formBut > div > p {
  color: white;
  font-size: 20px;
  transition: font-size 0.3s ease-in-out;
  user-select: none;
  
}
.formBut:hover > div > p{
  color: white;
  font-size: 30px;
  padding: 10px 10px;
}
.formBut:hover{
  height: 100%;
}
.formPanel{
  min-height: 100%;
  width: 100%;
  background-color: #98d6ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.formPanelSpace{
  width: 100%;
  height: 20%;
  margin: 10px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
.formImgContent{
  margin-top: 20px;
  width: 100%;
  height: 70%;
}
.formImg{
  width: 100%;
  height: 100%;
}
.ChangeButton{
  width: 50px;
  height: 50px;
  background-color: white;
  border: 0px;
  
}
.ChangeButton:hover{
  width: 50px;
  height: 50px;
  background-color: #FFC79F;
  border: 0px;
  cursor: pointer;
  
}
.ChangeButton > span{
  width: 50px;
  height: 50px;
  
}
.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #EF665B;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #fff;
}
.checkButton{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 20px;
  width: 30%;
  height: 50px;
  border: none;
  cursor: pointer;
  border-color: black;
  background-color: #F6B93B;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10%;

}
.checkButton:hover{
 box-shadow: 5px 5px 0px #111;
 background-color: #ffaa00;


}
@media (max-width: 1781px){
  .lilySay{
    background-image: url("imagesPng/cloudBorder.jpg");
    
  }
  .lilySayContent{
    margin-top: 80px;
    
  }
}
/* Estilos responsivos para pantallas con un ancho máximo de 650px */
@media (max-width: 650px) {
 
  .body{
    width: 100vw;
    height: 100vh;
  }
  .menuContainer{
    padding: 1% 1% 1% 1%;
    height: 100vh;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 0px;
    text-align: center;
  }
  .menuContainer > div{
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100%; /* Ocupar el 100% de la altura del contenedor */
      box-sizing: border-box; /* Considerar el borde en el tamaño total */
  } 
 
  .mainMenu-bot{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  .mainMenu-top{
    width: 95%;
    height: 95%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .iconContent{
    border: 0px;
    height: 100%;
    width: 70%;
    
  }
  .lilyImgContent{
    margin: 0px auto 0px auto;
    width: 80%;
    height: 50%;
  }
  .lilySayContent{
    margin-top: 160px;
    margin-bottom: 300px;
    
  }
  
  
  }
  
    @media (max-width: 650px) and (max-height: 900px) {
      .body{
        width: 100vw;
        height: 100vh;
      }
      .menuContainer{
        height: 100vh;
        width: 95vw;
      }
      .mainMenu-bot{
        width: 95%;
        height: 95%;
        display: flex;
        align-items: center;
        overflow: hidden;
      }
      .mainMenu-top{
        width: 95%;
        height: 95%;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .mainMenu-top > .iconContent{
        height: 60%;
        width: 60%;
      }
      .iconContent{
        
        height: 100%;
        width: 70%;
        
      }
      #fixedButton {
        width: 14vw;
      }
      .lilyImgContent{
        margin: 0px auto 0px auto;
        width: 80%;
        height: 50%;
      }
      
      
      }
      @media only screen and (min-width: calc(300px + 350px)) and (min-height: 350px) {
        .frontPageImg{
          width: 40%;
          height: 90%;
        }
        #fixedButton {
          width: 5vw;
        }
        
        .lilyImgContent{
          margin: 0px auto 0px auto;
          width: 50%;
          height: 60%;
        }
        .formPanelSpace{
          height: 30%;
          width: 40%;
        }
       
      }
      @media only screen and (min-width: 1000px){
        .frontPageImg{
          width: 30%;
          height: 90%;
        }
        #fixedButton{
          height: 8%;
        }
        .lilyImgContent{
       
          margin: 0px auto 0px auto;
          width: 50%;
          height: 60%;
        }
        .formPanelSpace{
          height: 35%;
          width: 30%;
        }
        

      }
    @media (max-width: 366px){
      .infoLilyContent > span{
        font: 0.5em sans-serif;
      }
    }
     @media only screen and (min-width:460px) and (max-width:100px){
      .lilyImgContent{
       
        margin: 0px auto 0px auto;
        width: 100%;
        height: 60%;
      }
     }
  @media (prefers-color-scheme: dark) {
    .ButtonMenu:hover .butHover{
      fill: #72c2f7;
    }
    .mainMenu-bot{
      background-color: black;
    }
    .mainMenu-top{
      background-color: black;
    }
  }
  
/*
@media (max-width: 1250px) {
.logo {
  height: 10em;
}
}
*/
/*
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*/

/* Estilos para la imagen GIF */



/*
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/
